components:
  schemas:
    job_parameters:
      anyOf:
        {% for job_type in job_types %}
        - $ref: "#/components/schemas/{{ job_type }}"
        {% endfor %}

    {% for job_type, job_spec in job_types.items() %}
    {{ job_type }}:
      description: Parameters for running {{job_spec['api_job_type']}} jobs
      type: object
      required:
      {% for parameter in job_spec['required_parameters'] %}
        - {{ parameter }}
      {% endfor %}
      additionalProperties: false
      properties:
      {% for parameter, parameter_spec in job_spec['parameters'].items() %}
        {% if 'api_schema_location' in parameter_spec %}
        {{ parameter }}:
          $ref: "{{ parameter_spec['api_schema_location'] }}"
        {% endif %}
      {% endfor %}
    {% endfor %}
    autorift_granules:
      type: array
      minItems: 2
      maxItems: 2
      items:
        anyOf:
          - $ref: "#/components/schemas/granule_slc"
          - $ref: "#/components/schemas/granule_s2_esa"
          - $ref: "#/components/schemas/granule_s2_cog"
          - $ref: "#/components/schemas/granule_lc2"

    insar_granules:
      type: array
      minItems: 2
      maxItems: 2
      items:
        $ref: "#/components/schemas/granule_slc"

    rtc_granules:
      type: array
      minItems: 1
      maxItems: 1
      items:
        anyOf:
          - $ref: "#/components/schemas/granule_grdh"
          - $ref: "#/components/schemas/granule_slc"

    granule_grdh:
      description: The name of the Sentinel-1 GRDH granule to process
      type: string
      pattern: "^S1[AB]_IW_GRDH_*"
      minLength: 67
      maxLength: 67
      example: S1A_IW_SLC__1SSV_20150621T120220_20150621T120232_006471_008934_72D8

    granule_slc:
      description: The name of the Sentinel-1 SLC granule to process
      type: string
      pattern: "^S1[AB]_IW_SLC__*"
      minLength: 67
      maxLength: 67
      example: S1A_IW_SLC__1SSV_20150621T120220_20150621T120232_006471_008934_72D8

    granule_s2_esa:
      description: The name of the Sentinel-2 granule to process (ESA naming convention)
      type: string
      pattern: "^S2[AB]_*"
      minLength: 60
      maxLength: 60
      example: S2B_MSIL2A_20200903T151809_N0214_R068_T22WEB_20200903T194353

    granule_s2_cog:
      description: The name of the Sentinel-2 granule to process (Sentinel-2 Cloud-Optimized GeoTIFFs on AWS naming convention)
      type: string
      pattern: "^S2[AB]_*"
      minLength: 24
      maxLength: 24
      example: S2B_22WEB_20200903_0_L2A

    granule_lc2:
      description: The name of the Landsat 8 Collection 2 granule to process
      type: string
      pattern: "^LC08*"
      minLength: 40
      maxLength: 40
      example: LC08_L1GT_118112_20210107_20210107_02_RT

    resolution:
      description: Desired output pixel spacing in meters
      type: number
      enum:
        - 30.0

    radiometry:
      description: Backscatter coefficient normalization, either by ground area (sigma0) or illuminated area projected into the look direction (gamma0)
      type: string
      enum:
        - gamma0
        - sigma0

    scale:
      description: Scale of output image; either power or amplitude
      type: string
      enum:
        - power
        - amplitude

    speckle_filter:
      description: Apply an Enhanced Lee speckle filter
      default: false
      type: boolean

    dem_matching:
      description: Coregisters SAR data to the DEM, rather than using dead reckoning based on orbit files
      default: false
      type: boolean

    include_dem:
      description: Include the DEM file in the product package
      default: false
      type: boolean

    include_inc_map:
      description: Include the incidence angle map in the product package
      default: false
      type: boolean

    include_scattering_area:
      description: Include the scattering area in the product package
      default: false
      type: boolean

    include_look_vectors:
      description: Include the look vector theta and phi files in the product package
      default: false
      type: boolean

    looks:
      description: Number of looks to take in range and azimuth
      type: string
      enum:
        - 20x4
        - 10x2

    los_displacement:
      description: Include a GeoTIFF in the product package containing displacement values along the Line-Of-Sight (LOS)
      default: false
      type: boolean
