openapi: 3.0.1

info:
  title: {{ api_name }}-api
  version: ""

security:
  - EarthDataLogin: []

{% if security_environment == 'EDC' %}
# See https://github.com/ASFHyP3/hyp3/pull/2009 for context.
servers:
  - url: /
  - url: /api
{% endif %}

paths:

  /costs:
    get:
      description: Get table of job costs.
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/costs"

  /jobs:

    post:
      description: Submits a list of jobs for processing.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_jobs_body"
        required: true
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/jobs_response"

    get:
      description: Get list of previously run jobs.
      parameters:
        - name: user_id
          in: query
          schema:
            $ref: "#/components/schemas/user_id"
        - name: status_code
          in: query
          schema:
            $ref: "#/components/schemas/status_code"
        - name: start
          in: query
          schema:
            $ref: "#/components/schemas/datetime"
        - name: end
          in: query
          schema:
            $ref: "#/components/schemas/datetime"
        - name: name
          in: query
          schema:
            $ref: "#/components/schemas/name"
        - name: job_type
          in: query
          schema:
            $ref: "./job_parameters.yml#/components/schemas/job_type"
        - name: start_token
          in: query
          schema:
            $ref: "#/components/schemas/start_token"

      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/jobs_response"

  /jobs/{job_id}:
    get:
      description: Get a previously run job.
      parameters:
        - name: job_id
          in: path
          schema:
            $ref: "#/components/schemas/job_id"
          required: true

      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job"

  /user:
    get:
      description: Get information about the logged in user.
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/user"

components:
  schemas:

    # TODO specify more information?
    costs:
      description: Table of job costs.
      type: object

    post_jobs_body:
      description: List for new jobs to submit for processing.
      type: object
      required:
        - jobs
      additionalProperties: false
      properties:
        validate_only:
          $ref: "#/components/schemas/validate_only"
        jobs:
          $ref: "#/components/schemas/list_of_new_jobs"

    jobs_response:
      description: List of submitted jobs.
      type: object
      required:
        - jobs
      additionalProperties: false
      properties:
        validate_only:
          $ref: "#/components/schemas/validate_only"
        jobs:
          $ref: "#/components/schemas/list_of_jobs"
        next:
          $ref: "#/components/schemas/next_url"

    user:
      description: Information about a user
      type: object
      required:
        - user_id
        - remaining_credits
      additionalProperties: false
      properties:
        user_id:
          $ref: "#/components/schemas/user_id"
        remaining_credits:
          $ref: "#/components/schemas/credits"
        job_names:
          $ref: "#/components/schemas/job_names_list"

    credits:
      description: Processing credits for running jobs.
      type: number
      minimum: 0

    job_names_list:
      type: array
      items:
        $ref: "#/components/schemas/name"

    list_of_new_jobs:
      description: Contains a list of new job objects.
      type: array
      minItems: 1
      maxItems: 200
      items:
        $ref: "./job_parameters.yml#/components/schemas/new_job"

    list_of_jobs:
      type: array
      items:
        $ref: "#/components/schemas/job"

    job:
      description: Contains information about a submitted job.
      type: object
      required:
        - job_id
        - user_id
        - job_type
        - job_parameters
        - request_time
        - status_code
      additionalProperties: false
      properties:
        job_id:
          $ref: "#/components/schemas/job_id"
        user_id:
          $ref: "#/components/schemas/user_id"
        job_type:
          $ref: "./job_parameters.yml#/components/schemas/job_type"
        job_parameters:
          $ref: "./job_parameters.yml#/components/schemas/job_parameters"
        request_time:
          $ref: "#/components/schemas/datetime"
        status_code:
          $ref: "#/components/schemas/status_code"
        execution_started:
          $ref: "#/components/schemas/execution_started"
        name:
          $ref: "#/components/schemas/name"
        files:
          $ref: "#/components/schemas/list_of_files"
        browse_images:
          $ref: "#/components/schemas/list_of_urls"
        thumbnail_images:
          $ref: "#/components/schemas/list_of_urls"
        logs:
          $ref: "#/components/schemas/list_of_urls"
        expiration_time:
          $ref: "#/components/schemas/datetime"
          nullable: true
        processing_times:
          $ref: "#/components/schemas/processing_times"
        priority:
          $ref: "#/components/schemas/priority"
        credit_cost:
          $ref: "#/components/schemas/credits"

    validate_only:
      type: boolean
      default: false

    job_id:
      description: Unique identifier for a job
      type: string
      format: uuid
      example: 27836b79-e5b2-4d8f-932f-659724ea02c3

    user_id:
      description: Username from Earthdata Login.
      type: string
      example: myUserId

    datetime:
      description: Date and time object formatted according to ISO 8601
      type: string
      format: date-time
      example: "2020-06-04T18:00:03+00:00"

    status_code:
      description: Status of a submitted job.
      type: string
      enum:
        - PENDING
        - RUNNING
        - SUCCEEDED
        - FAILED
      example: SUCCEEDED

    execution_started:
      description: Whether a workflow execution has been started for the submitted job.
      type: boolean

    name:
      description: User provided text to name the job
      type: string
      minLength: 1
      maxLength: 100
      example: Job Name

    start_token:
      description: Token used for fetching subsequent results for large queries
      type: string

    next_url:
      description: Url provided for large search results that have been truncated. Use to fetch subsequent results.
      type: string

    list_of_files:
      description: List of downloadable files generated by the job.
      type: array
      items:
        type: object
        required:
          - filename
          - size
          - url
          - s3
        additionalProperties: False
        properties:
          filename:
            type: string
          size:
            type: integer
            minimum: 0
          url:
            type: string
          s3:
            $ref: "#/components/schemas/s3_object"

    s3_object:
      type: object
      additionalProperties: false
      required:
        - bucket
        - key
      properties:
        bucket:
          type: string
        key:
          type: string

    list_of_urls:
      type: array
      items:
        type: string

    priority:
      type: integer
      minimum: 0
      maximum: 9999

    processing_times:
      description: >
        A list of run times for the job's processing steps in the order that they were executed. For example,
        a job comprised of a single processing step would yield a list containing one processing time, while a job
        comprised of three processing steps would yield a list containing three processing times. An empty list
        represents a failure to calculate processing times.
      type: array
      items:
        $ref: '#/components/schemas/processing_time_in_seconds'

    processing_time_in_seconds:
      description: >
        Run time in seconds for a particular processing step's final attempt (regardless of whether it succeeded).
        A value of zero indicates that there were no attempts.
      type: number
      minimum: 0

  securitySchemes:
    EarthDataLogin:
      description: |-
        Authentication requires the user to have an account at urs.earthdata.nasa.gov and log in at auth.asf.alaska.edu
      type: apiKey
      in: cookie
      name: asf-urs
