AWSTemplateFormatVersion: 2010-09-09

Parameters:
  VpcId:
    Type: AWS::EC2::VPC::Id

  SecurityGroupId:
    Type: String

  SubnetIds:
    Type: CommaDelimitedList

Outputs:

  LambdaArn:
    Value: !GetAtt Lambda.Arn

Resources:

  LogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${Lambda}"
      RetentionInDays: 90

  Role:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          Action: sts:AssumeRole
          Principal:
            Service: lambda.amazonaws.com
          Effect: Allow
      ManagedPolicyArns:
        - !Ref Policy
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole

  Policy:
    Type: AWS::IAM::ManagedPolicy
    Properties:
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - logs:CreateLogStream
              - logs:PutLogEvents
            Resource: !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/*"
          - Effect: Allow
            Action:
              - ec2:DescribeVpcEndpoints
              - ec2:ModifyVpcEndpoint
            Resource: "*"

  Lambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: Lambda
      Code: src/
      Handler: disable_private_dns.lambda_handler
      MemorySize: 128
      Role: !GetAtt Role.Arn
      Runtime: python3.9
      Timeout: 5
      Environment:
        Variables:
          VPCID: !Ref VpcId
          ENDPOINT_NAME: "VPC Endpoint - Consumer"
      VpcConfig:
        SecurityGroupIds:
          - !Ref SecurityGroupId
        SubnetIds: !Ref SubnetIds

  EventEveryMinute:
    Type: AWS::Events::Rule
    Properties:
      Name: EventEveryMintue
      Description: Trigger Lambda every minute
      ScheduleExpression: rate(1 minute)
      State: ENABLED
      Targets:
        - Arn: !GetAtt Lambda.Arn
          Id: LambdaTarget

  PermissionForEventToInvokeLambda:
    Type: AWS::Lambda::Permission
    Properties:
        FunctionName: !GetAtt Lambda.Arn
        SourceArn: !GetAtt EventEveryMinute.Arn
        Action: "lambda:InvokeFunction"
        Principal: "events.amazonaws.com"
