-r requirements-apps-api.txt
-r requirements-apps-handle-batch-event.txt
-r requirements-apps-scale-cluster.txt
-r requirements-apps-start-execution.txt
-r requirements-apps-disable-private-dns.txt
-r requirements-apps-update-db.txt
boto3==1.37.38
jinja2==3.1.6
moto[dynamodb]==5.1.3
pytest==8.3.5
PyYAML==6.0.2
responses==0.25.7
ruff==0.11.5
mypy==1.15.0
setuptools==78.1.0
setuptools_scm==8.2.1
openapi-spec-validator==0.7.1
cfn-lint==1.34.1
