{% for job_type, job_spec in job_types.items() %}
{{ job_type }}: {% if not job_spec['validators'] %}[]{% endif %}

  {% for validator in job_spec['validators'] %}
  - {{ validator }}
  {% endfor %}
{% endfor %}