body {
  text-align: center;
  background-color: #f2f2f2;
  font-family: sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin-top: -5px;
}

#content {
  width: 50%;
  display: inline-block;
  overflow: hidden;
  text-align: left;
  background-color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

#content-header {
  background: rgb(101, 102, 92);
  background: linear-gradient(180deg, rgba(101, 102, 92, 1) 0%, rgba(106, 106, 106, 1) 100%);
  padding: 20px;
}

#content-body {
  padding: 20px;
}

.logo img {
  height: 44px;
  width: auto;
  display: inline-block;
  margin-top: -10px;
  margin-bottom: -5px;
  margin-right: 20px;
}

.logo img:hover {
  opacity: 0.75;
}

textarea {
  resize: vertical;
  width: 100%;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: sans-serif;
}

input[type=submit] {
  width: 100%;
  font-weight: bold;
  background-color: #4287f5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0d65f2;
}

.expandable-summary {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  font-size: 15px;
}

.expandable-summary:hover {
  background-color: #555;
}

.expandable-content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;
}
