body {
  text-align: center;
  background-color: #f2f2f2;
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 36px;
  margin-top: 0;
}

h2 {
  font-size: 24px;
  margin-top: 0;
}

@media (max-width: 649px) {
  .section {
    width: 100%;
  }
}

@media (min-width: 650px) {
  .section {
    width: 650px;
  }
}

.section {
  overflow: hidden;
  text-align: left;
  background-color: white;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
}

.section-header {
  background: rgb(101, 102, 92);
  background: linear-gradient(180deg, rgba(101, 102, 92, 1) 0%, rgba(106, 106, 106, 1) 100%);
  padding: 20px;
}

.section-body {
  padding: 30px;
  border: solid;
  border-color: #d9d9d9;
  border-radius: 8px;
  border-width: 1px;
}

#main-section-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.logo img {
  height: 44px;
  width: auto;
  display: inline-block;
  margin-top: -10px;
  margin-bottom: -5px;
  margin-right: 20px;
}

.logo img:hover {
  opacity: 0.75;
}

textarea {
  resize: vertical;
  width: 99%;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: sans-serif;
}

input[type=submit] {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  background-color: #4287f5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0 -20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0d65f2;
}

.expandable-summary {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  font-size: 16px;
}

.expandable-summary:hover {
  background-color: #555;
}

.expandable-content {
  padding: 5px 20px;
  overflow: hidden;
  background-color: #f1f1f1;
}

#edl-profile {
  background-color: #f1f1f1;
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  line-height: 1;
}
