<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request access to HyP3</title>
    <link rel="stylesheet" href="/ui/request_access/request_access.css">
</head>
<body>
    <div id="form">
        <p>
            You have successfully requested access to HyP3 for {{ user_id }}.
            We will process your request within 2 business days
            and email you at {{ email_address }}
            to let you know if you have been approved.
            Please email us at <a href="mailto:uso@asf.alaska.edu">uso@asf.alaska.edu</a>
            if you do not receive an email with the specified time frame.
        </p>
    </div>
</body>
</html>
