{# TODO reorder States list to reflect current workflow structure #}
{
  "StartAt": "SET_DEFAULT_CONTAINER_OVERRIDES",
  "States": {
    "SET_DEFAULT_CONTAINER_OVERRIDES": {
      "Type": "Pass",
      "Result": {},
      "ResultPath": "$.container_overrides",
      "Next": "SET_DEFAULT_RESULTS"
    },
    "SET_DEFAULT_RESULTS": {
      "Type": "Pass",
      "Result": {
        "processing_time_in_seconds": 0
      },
      "ResultPath": "$.results",
      "Next": "JOB_RUNNING"
    },
    "JOB_RUNNING": {
      "Type": "Task",
      "Resource": "${UpdateDBLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "status_code": "RUNNING"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 2
        }
      ],
      "ResultPath": "$.results.job_running",
      "Next": "ADD_PREFIX_TO_JOB_PARAMETERS"
    },
    "ADD_PREFIX_TO_JOB_PARAMETERS": {
      "Type": "Pass",
      "InputPath": "$.job_id",
      "ResultPath": "$.job_parameters.bucket_prefix",
      "Next": "INSPECT_JOB_TYPE"
    },
    "INSPECT_GRANULE_TYPE": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.job_parameters.granules",
          "StringMatches": "S2*",
          "Next": "USE_SENTINEL2_MEMORY"
        },
        {
          "Variable": "$.job_parameters.granules",
          "StringMatches": "L*",
          "Next": "USE_LANDSAT_MEMORY"
        }
      ],
      "Default": "AUTORIFT"
    },
    "USE_SENTINEL2_MEMORY": {
      "Type": "Pass",
      "Result": {
        "ResourceRequirements": [
          {
            "Type": "MEMORY",
            "Value": "7900"
          }
        ]
      },
      "ResultPath": "$.container_overrides",
      "Next": "AUTORIFT"
    },
    "USE_LANDSAT_MEMORY": {
      "Type": "Pass",
      "Result": {
        "ResourceRequirements": [
          {
            "Type": "MEMORY",
            "Value": "10500"
          }
        ]
      },
      "ResultPath": "$.container_overrides",
      "Next": "AUTORIFT"
    },
    "INSPECT_JOB_TYPE": {
      "Type": "Choice",
      "Choices": [
        {% for job_type, job_spec in job_types.items() %}
        {
          "Variable": "$.job_type",
          "StringEquals": "{{ job_type }}",
          {# TODO This is a temporary hack until we are finished refactoring how jobs are defined (e.g. as separate step functions) #}
          "Next": "{{ job_type if job_type != 'AUTORIFT' else 'INSPECT_GRANULE_TYPE' }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "Default": "JOB_FAILED"
    },
    {% for job_type, job_spec in job_types.items() %}
    "{{ job_type }}": {
      "Type": "Task",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobDefinition": "{{ '${'+ snake_to_pascal_case(job_type) + '}' }}",
        "JobName.$": "$.job_id",
        "JobQueue": "${JobQueueArn}",
        "ShareIdentifier": "default",
        "SchedulingPriorityOverride.$": "$.priority",
        "Parameters.$": "$.job_parameters",
        "ContainerOverrides.$": "$.container_overrides",
        "RetryStrategy": {
          "Attempts": 3
        }
      },
      "ResultPath": "$.results.processing_results",
      "Next": "GET_FILES",
      "Retry": [
        {
          "ErrorEquals": [
            "Batch.ServerException"
          ],
          "MaxAttempts": 2
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "UPLOAD_LOG",
          "ResultPath": "$.results.processing_results"
        }
      ]
    },
    {% endfor %}
    "UPLOAD_LOG":{
      "Type": "Task",
      "Resource": "${UploadLogLambdaArn}",
      "Parameters": {
        "prefix.$": "$.job_id",
        "log_group": "/aws/batch/job",
        "processing_results.$": "$.results.processing_results"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "JOB_FAILED",
          "ResultPath": "$.results.upload_log"
        }
      ],
      "ResultPath": "$.results.upload_log",
      "Next": "GET_FILES"
    },
    "GET_FILES": {
      "Type": "Task",
      "Resource": "${GetFilesLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "JOB_FAILED",
          "ResultPath": "$.results.get_files"
        }
      ],
      "ResultPath": "$.results.get_files",
      "Next": "CHECK_PROCESSING_TIME"
    },
    "CHECK_PROCESSING_TIME": {
      "Type": "Task",
      "Resource": "${CheckProcessingTimeLambdaArn}",
      "Parameters": {
        "processing_results.$": "$.results.processing_results"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "JOB_FAILED",
          "ResultPath": "$.results.processing_time_in_seconds"
        }
      ],
      "ResultPath": "$.results.processing_time_in_seconds",
      "Next": "CHECK_STATUS"
    },
    "CHECK_STATUS": {
      "Type" : "Choice",
      "Choices": [{
        "Variable": "$.results.processing_results.Error",
        "IsPresent": true,
        "Next": "JOB_FAILED"
      }],
      "Default": "JOB_SUCCEEDED"
    },
    "JOB_SUCCEEDED": {
      "Type": "Task",
      "Resource": "${UpdateDBLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "status_code": "SUCCEEDED",
        "files.$": "$.results.get_files.files",
        "browse_images.$": "$.results.get_files.browse_images",
        "thumbnail_images.$": "$.results.get_files.thumbnail_images",
        "logs.$": "$.results.get_files.logs",
        "expiration_time.$": "$.results.get_files.expiration_time",
        "processing_time_in_seconds.$": "$.results.processing_time_in_seconds"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 2
        }
      ],
      "ResultPath": "$.results.job_succeeded",
      "End": true
    },
    "JOB_FAILED": {
      "Type": "Task",
      "Resource": "${UpdateDBLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "status_code": "FAILED",
        "logs.$": "$.results.get_files.logs",
        "expiration_time.$": "$.results.get_files.expiration_time",
        "processing_time_in_seconds.$": "$.results.processing_time_in_seconds"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 2
        }
      ],
      "ResultPath": "$.results.job_failed",
      "Next": "FAIL"
    },
    "FAIL": {
      "Type": "Fail"
    }
  }
}
