{
  "StartAt": "JOB_RUNNING",
  "States": {
    "JOB_RUNNING": {
      "Type": "Task",
      "Resource": "${UpdateDBLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "status_code": "RUNNING"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 2
        }
      ],
      "ResultPath": "$.results.job_running",
      "Next": "ADD_PREFIX_TO_JOB_PARAMETERS"
    },
    "ADD_PREFIX_TO_JOB_PARAMETERS": {
      "Type": "Pass",
      "InputPath": "$.job_id",
      "ResultPath": "$.job_parameters.bucket_prefix",
      "Next": "INSPECT_GRANULE_TYPE"
    },
    "INSPECT_GRANULE_TYPE": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.job_parameters.granules",
          "StringMatches": "S1*",
          "Next": "SET_HIGH_MEMORY"
        }
      ],
      "Default": "SET_LOW_MEMORY"
    },
    "SET_HIGH_MEMORY": {
      "Type": "Pass",
      "Result": {
        "Memory": 30000
      },
      "ResultPath": "$.container_overrides",
      "Next": "INSPECT_JOB_TYPE"
    },
    "SET_LOW_MEMORY": {
      "Type": "Pass",
      "Result": {
        "Memory": 10500
      },
      "ResultPath": "$.container_overrides",
      "Next": "INSPECT_JOB_TYPE"
    },
    "INSPECT_JOB_TYPE": {
      "Type": "Choice",
      "Choices": [
        {% for job_type, job_spec in job_types.items() %}
        {
          "Variable": "$.job_type",
          "StringEquals": "{{ job_spec['api_job_type'] }}",
          "Next": "{{ job_spec['api_job_type'] }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "Default": "JOB_FAILED"
    },
    {% for job_type, job_spec in job_types.items() %}
    "{{ job_spec['api_job_type'] }}": {
      "Type": "Task",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobDefinition": "{{ '${'+ job_type + '}' }}",
        "JobName.$": "$.job_id",
        "JobQueue": "${JobQueueArn}",
        "Parameters.$": "$.job_parameters",
        "ContainerOverrides.$": "$.container_overrides"
      },
      "ResultPath": "$.results.processing_results",
      "Next": "UPLOAD_LOG",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "UPLOAD_LOG",
          "ResultPath": "$.results.processing_results"
        }
      ]
    },
    {% endfor %}
    "UPLOAD_LOG":{
      "Type": "Task",
      "Resource": "${UploadLogLambdaArn}",
      "Parameters": {
        "prefix.$": "$.job_id",
        "log_group": "/aws/batch/job",
        "processing_results.$": "$.results.processing_results"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "JOB_FAILED",
          "ResultPath": "$.results.upload_log"
        }
      ],
      "ResultPath": "$.results.upload_log",
      "Next": "GET_FILES"
    },
    "GET_FILES": {
      "Type": "Task",
      "Resource": "${GetFilesLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "JOB_FAILED",
          "ResultPath": "$.results.get_files"
        }
      ],
      "ResultPath": "$.results.get_files",
      "Next": "CHECK_STATUS"
    },
    "CHECK_STATUS": {
      "Type" : "Choice",
      "Choices": [{
        "Variable": "$.results.processing_results.Error",
        "IsPresent": true,
        "Next": "JOB_FAILED"
      }],
      "Default": "JOB_SUCCEEDED"
    },
    "JOB_SUCCEEDED": {
      "Type": "Task",
      "Resource": "${UpdateDBLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "status_code": "SUCCEEDED",
        "files.$": "$.results.get_files.files",
        "browse_images.$": "$.results.get_files.browse_images",
        "thumbnail_images.$": "$.results.get_files.thumbnail_images",
        "logs.$": "$.results.get_files.logs",
        "expiration_time.$": "$.results.get_files.expiration_time"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 2
        }
      ],
      "ResultPath": "$.results.job_succeeded",
      "End": true
    },
    "JOB_FAILED": {
      "Type": "Task",
      "Resource": "${UpdateDBLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "status_code": "FAILED",
        "logs.$": "$.results.get_files.logs",
        "expiration_time.$": "$.results.get_files.expiration_time"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 2
        }
      ],
      "ResultPath": "$.results.job_failed",
      "Next": "FAIL"
    },
    "FAIL": {
      "Type": "Fail"
    }
  }
}
