AWSTemplateFormatVersion: 2010-09-09

Parameters:

  ComputeEnvironmentArn:
    Type: String

  {% for job_type, job_spec in job_types.items() if 'Default' != job_spec['compute_environment']['name'] %}
  {% set name = job_spec['compute_environment']['name'] %}
  {{ name }}ComputeEnvironmentArn:
    Type: String
  {% endfor %}

  DefaultMaxvCpus:
    Type: Number
    MinValue: 0

  ExpandedMaxvCpus:
    Type: Number
    MinValue: 0

  MonthlyBudget:
    Type: Number
    MinValue: 0

  RequiredSurplus:
    Type: Number
    MinValue: 0

  {% if security_environment == 'EDC' %}
  SecurityGroupId:
    Type: String

  SubnetIds:
    Type: CommaDelimitedList
  {% endif %}

Resources:

  LogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${Lambda}"
      RetentionInDays: 90

  Role:
    Type: {{ 'Custom::JplRole' if security_environment in ('JPL', 'JPL-public') else 'AWS::IAM::Role' }}
    Properties:
      {% if security_environment in ('JPL', 'JPL-public') %}
      ServiceToken: !ImportValue Custom::JplRole::ServiceToken
      Path: /account-managed/hyp3/
      {% endif %}
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          Action: sts:AssumeRole
          Principal:
            Service: lambda.amazonaws.com
          Effect: Allow
      ManagedPolicyArns:
        - !Ref Policy
        {% if security_environment == 'EDC' %}
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        {% endif %}

  Policy:
    Type: {{ 'Custom::JplPolicy' if security_environment in ('JPL', 'JPL-public') else 'AWS::IAM::ManagedPolicy' }}
    Properties:
      {% if security_environment in ('JPL', 'JPL-public') %}
      ServiceToken: !ImportValue Custom::JplPolicy::ServiceToken
      Path: /account-managed/hyp3/
      {% endif %}
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - logs:CreateLogStream
              - logs:PutLogEvents
            Resource: !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/*"
          - Effect: Allow
            Action:
              - ce:GetCostAndUsage
              - batch:DescribeComputeEnvironments
            Resource: "*"
          - Effect: Allow
            Action: batch:UpdateComputeEnvironment
            Resource: 
              - !Ref ComputeEnvironmentArn
              {% for job_type, job_spec in job_types.items() if 'Default' != job_spec['compute_environment']['name'] %}
              - !Ref {{ job_spec['compute_environment']['name'] }}ComputeEnvironmentArn
              {% endfor %}

  Lambda:
    Type: AWS::Lambda::Function
    Properties:
      Environment:
        Variables:
          COMPUTE_ENVIRONMENT_ARN: !Ref ComputeEnvironmentArn
          MONTHLY_BUDGET: !Ref MonthlyBudget
          DEFAULT_MAX_VCPUS: !Ref DefaultMaxvCpus
          EXPANDED_MAX_VCPUS: !Ref ExpandedMaxvCpus
          REQUIRED_SURPLUS: !Ref RequiredSurplus
      Code: src/
      Handler: scale_cluster.lambda_handler
      MemorySize: 128
      Role: !GetAtt Role.Arn
      Runtime: python3.9
      Timeout: 30
      {% if security_environment == 'EDC' %}
      VpcConfig:
        SecurityGroupIds:
          - !Ref SecurityGroupId
        SubnetIds: !Ref SubnetIds
      {% endif %}

  EventInvokeConfig:
    Type: AWS::Lambda::EventInvokeConfig
    Properties:
      FunctionName: !Ref Lambda
      Qualifier: $LATEST
      MaximumRetryAttempts: 0

  Schedule:
    Type: AWS::Events::Rule
    Properties:
      ScheduleExpression: "rate(30 minutes)"
      Targets:
        - Arn: !GetAtt Lambda.Arn
          Id: lambda
        {% for job_type, job_spec in job_types.items() if 'Default' != job_spec['compute_environment']['name'] %}
        {% set name = job_spec['compute_environment']['name'] %}
        - Arn: !GetAtt {{ name }}Lambda.Arn
          Id:  {{ name }}lambda
        {% endfor %}

  EventPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt Lambda.Arn
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt Schedule.Arn

  {% for job_type, job_spec in job_types.items() if 'Default' != job_spec['compute_environment']['name'] %}
  {% set name = job_spec['compute_environment']['name'] %}
  {{ name }}LogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub {{ "/aws/lambda/${" + name + "Lambda}" }}
      RetentionInDays: 90
  
  {{ name }}Lambda:
    Type: AWS::Lambda::Function
    Properties:
      Environment:
        Variables:
          COMPUTE_ENVIRONMENT_ARN: !Ref {{ name }}ComputeEnvironmentArn
          MONTHLY_BUDGET: !Ref MonthlyBudget
          DEFAULT_MAX_VCPUS: !Ref DefaultMaxvCpus
          EXPANDED_MAX_VCPUS: !Ref ExpandedMaxvCpus
          REQUIRED_SURPLUS: !Ref RequiredSurplus
      Code: src/
      Handler: scale_cluster.lambda_handler
      MemorySize: 128
      Role: !GetAtt Role.Arn
      Runtime: python3.9
      Timeout: 30
      {% if security_environment == 'EDC' %}
      VpcConfig:
        SecurityGroupIds:
          - !Ref SecurityGroupId
        SubnetIds: !Ref SubnetIds
      {% endif %}

  {{ name }}EventInvokeConfig:
    Type: AWS::Lambda::EventInvokeConfig
    Properties:
      FunctionName: !Ref {{ name }}Lambda
      Qualifier: $LATEST
      MaximumRetryAttempts: 0

  {{ name }}EventPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt  {{ name }}Lambda.Arn
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt Schedule.Arn
  {% endfor %}
