name: Deploy Enterprise Stacks to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - environment: hyp3-its-live
            domain: hyp3-its-live.asf.alaska.edu
            template_bucket: cf-templates-3o5lnspmwmzg-us-west-2
            image_tag: latest
            product_lifetime_in_days: 180
            quota: 0
            job_files: job_spec/AUTORIFT_ITS_LIVE.yml
            instance_types: r5d.xlarge,r5dn.xlarge
            default_max_vcpus: 10000
            expanded_max_vcpus: 10000
            required_surplus: 0
            security_environment: JPL-public
            ami_id: /aws/service/ecs/optimized-ami/amazon-linux-2/recommended/image_id
            distribution_url: ''

          - environment: hyp3-isce
            domain: hyp3-isce.asf.alaska.edu
            template_bucket: cf-templates-t790khv4btdq-us-west-2
            image_tag: latest
            product_lifetime_in_days: 180
            quota: 0
            job_files: job_spec/INSAR_ISCE.yml job_spec/INSAR_ISCE_TEST.yml
            instance_types: c5d.xlarge
            default_max_vcpus: 10000
            expanded_max_vcpus: 10000
            required_surplus: 0
            security_environment: ASF
            ami_id: /aws/service/ecs/optimized-ami/amazon-linux-2/recommended/image_id
            distribution_url: ''

          - environment: hyp3-tibet
            domain: hyp3-tibet.asf.alaska.edu
            template_bucket: cf-templates-ejaipnrxq7xg-us-west-2
            image_tag: latest
            product_lifetime_in_days: 180
            quota: 0
            job_files: job_spec/INSAR_ISCE.yml job_spec/INSAR_ISCE_TEST.yml
            instance_types: c5d.xlarge
            default_max_vcpus: 1600
            expanded_max_vcpus: 1600
            required_surplus: 0
            security_environment: ASF
            ami_id: /aws/service/ecs/optimized-ami/amazon-linux-2/recommended/image_id
            distribution_url: ''

          - environment: hyp3-a19-jpl
            domain: hyp3-a19-jpl.asf.alaska.edu
            template_bucket: cf-templates-v4pvone059de-us-west-2
            image_tag: latest
            product_lifetime_in_days: 180
            quota: 0
            job_files: job_spec/INSAR_ISCE.yml job_spec/INSAR_ISCE_TEST.yml
            instance_types: c5d.xlarge
            default_max_vcpus: 1600
            expanded_max_vcpus: 1600
            required_surplus: 0
            security_environment: JPL
            ami_id: /aws/service/ecs/optimized-ami/amazon-linux-2/recommended/image_id
            distribution_url: ''

          - environment: hyp3-avo
            domain: hyp3-avo.asf.alaska.edu
            template_bucket: cf-templates-1x4a21iq1cba7-us-west-2
            image_tag: latest
            product_lifetime_in_days: 180
            quota: 0
            job_files: job_spec/INSAR_GAMMA.yml
            instance_types: r5d.xlarge,r5dn.xlarge
            default_max_vcpus: 640
            expanded_max_vcpus: 640
            required_surplus: 0
            security_environment: ASF
            ami_id: /aws/service/ecs/optimized-ami/amazon-linux-2/recommended/image_id
            distribution_url: ''

            - environment: hyp3-watermap
              domain: hyp3-watermap.asf.alaska.edu
              template_bucket: cf-templates-1217di08q7vwl-us-west-2
              image_tag: latest
              product_lifetime_in_days: 14
              quota: 0
              job_files: job_spec/RTC_GAMMA_10M.yml job_spec/WATER_MAP_10M.yml
              instance_types: r5d.4xlarge,r5dn.4xlarge
              default_max_vcpus: 640
              expanded_max_vcpus: 640
              required_surplus: 0
              security_environment: ASF
              ami_id: /aws/service/ecs/optimized-ami/amazon-linux-2/recommended/image_id
              distribution_url: ''

    environment:
      name: ${{ matrix.environment }}
      url: https://${{ matrix.domain }}

    steps:
      - uses: actions/checkout@v2

      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.V2_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.V2_AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.V2_AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - uses: ./.github/actions/deploy-hyp3
        with:
          TEMPLATE_BUCKET:  ${{ matrix.template_bucket }}
          STACK_NAME: ${{ matrix.environment }}
          DOMAIN_NAME: ${{ matrix.domain }}
          CERTIFICATE_ARN:  ${{ secrets.CERTIFICATE_ARN }}
          IMAGE_TAG: ${{ matrix.image_tag }}
          PRODUCT_LIFETIME: ${{ matrix.product_lifetime_in_days }}
          VPC_ID: ${{ secrets.VPC_ID }}
          SUBNET_IDS: ${{ secrets.SUBNET_IDS }}
          EDL_USERNAME: ${{ secrets.EDL_USERNAME }}
          EDL_PASSWORD: ${{ secrets.EDL_PASSWORD }}
          CLOUDFORMATION_ROLE_ARN: ${{ secrets.CLOUDFORMATION_ROLE_ARN }}
          MONTHLY_JOB_QUOTA_PER_USER: ${{ matrix.quota }}
          JOB_FILES: ${{ matrix.job_files }}
          BANNED_CIDR_BLOCKS: ${{ secrets.BANNED_CIDR_BLOCKS }}
          DEFAULT_MAX_VCPUS: ${{ matrix.default_max_vcpus }}
          EXPANDED_MAX_VCPUS: ${{ matrix.expanded_max_vcpus }}
          MONTHLY_COMPUTE_BUDGET: ${{ secrets.MONTHLY_COMPUTE_BUDGET }}
          REQUIRED_SURPLUS: ${{ matrix.required_surplus }}
          PERMISSIONS_BOUNDARY_ARN: ${{ secrets.PERMISSIONS_BOUNDARY_ARN }}
          ORIGIN_ACCESS_IDENTITY_ID: ${{ secrets.ORIGIN_ACCESS_IDENTITY_ID }}
          SECURITY_ENVIRONMENT: ${{ matrix.security_environment }}
          AMI_ID: ${{ matrix.ami_id }}
          INSTANCE_TYPES: ${{ matrix.instance_types }}
          DISTRIBUTION_URL: ${{ matrix.distribution_url }}
