name: Deploy Enterprise Test Stack to AWS

on:
  push:
    branches:
      - develop

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - environment: hyp3-enterprise-test
            domain: hyp3-enterprise-test.asf.alaska.edu
            template_bucket: cf-templates-1iw894v4yzqya-us-west-2
            image_tag: test
            product_lifetime_in_days: 14
            quota: 0
            deploy_ref: refs/heads/develop
            job_files: >-
              job_spec/AUTORIFT.yml
              job_spec/INSAR_GAMMA.yml
              job_spec/INSAR_GAMMA_TEST.yml
              job_spec/RTC_GAMMA.yml
              job_spec/INSAR_ISCE_TEST.yml
              job_spec/INSAR_ISCE_BURST.yml
              job_spec/WATER_MAP.yml
              job_spec/WATER_MAP_TEST.yml
              job_spec/WATER_MAP_EQ.yml
              job_spec/S1_CORRECTION_ITS_LIVE.yml
            instance_types: r6id.xlarge,r6id.2xlarge,r6id.4xlarge,r6id.8xlarge,r6idn.xlarge,r6idn.2xlarge,r6idn.4xlarge,r6idn.8xlarge
            default_max_vcpus: 640
            expanded_max_vcpus: 640
            required_surplus: 0
            security_environment: ASF
            ami_id: /aws/service/ecs/optimized-ami/amazon-linux-2/recommended/image_id
            distribution_url: ''

    environment:
      name: ${{ matrix.environment }}
      url: https://${{ matrix.domain }}

    steps:
      - uses: actions/checkout@v4.0.0

      - uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.V2_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.V2_AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.V2_AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - uses: ./.github/actions/deploy-hyp3
        with:
          TEMPLATE_BUCKET:  ${{ matrix.template_bucket }}
          STACK_NAME: ${{ matrix.environment }}
          DOMAIN_NAME: ${{ matrix.domain }}
          API_NAME: ${{ matrix.environment }}
          CERTIFICATE_ARN:  ${{ secrets.CERTIFICATE_ARN }}
          IMAGE_TAG: ${{ matrix.image_tag }}
          PRODUCT_LIFETIME: ${{ matrix.product_lifetime_in_days }}
          VPC_ID: ${{ secrets.VPC_ID }}
          SUBNET_IDS: ${{ secrets.SUBNET_IDS }}
          SECRET_ARN: ${{ secrets.SECRET_ARN }}
          CLOUDFORMATION_ROLE_ARN: ${{ secrets.CLOUDFORMATION_ROLE_ARN }}
          MONTHLY_JOB_QUOTA_PER_USER: ${{ matrix.quota }}
          JOB_FILES: ${{ matrix.job_files }}
          DEFAULT_MAX_VCPUS: ${{ matrix.default_max_vcpus }}
          EXPANDED_MAX_VCPUS: ${{ matrix.expanded_max_vcpus }}
          MONTHLY_BUDGET: ${{ secrets.MONTHLY_BUDGET }}
          REQUIRED_SURPLUS: ${{ matrix.required_surplus }}
          ORIGIN_ACCESS_IDENTITY_ID: ${{ secrets.ORIGIN_ACCESS_IDENTITY_ID }}
          SECURITY_ENVIRONMENT: ${{ matrix.security_environment }}
          AMI_ID: ${{ matrix.ami_id }}
          INSTANCE_TYPES: ${{ matrix.instance_types }}
          DISTRIBUTION_URL: ${{ matrix.distribution_url }}
          AUTH_PUBLIC_KEY: ${{ secrets.AUTH_PUBLIC_KEY }}
