name: Create Release

on:
  push:
    tags:
      - 'v*'

jobs:
  call-release-workflow:
    uses: ASFHyP3/actions/.github/workflows/reusable-release.yml@v0.21.0
    with:
      release_prefix: HyP3
    secrets:
      USER_TOKEN: ${{ secrets.TOOLS_BOT_PAK }}
