name: Run tests

on:
  push:
  pull_request:
    branches:
      - main
      - develop

env:
  SETUPTOOLS_SCM_PRETEND_VERSION_FOR_HYP3: v0.0.0

jobs:
  pytest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1

      - uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - run: |
          python -m pip install --upgrade pip
          make install

      - name: run pytest
        run: make tests
